nicegui
sqlalchemy
pypdf
scikit-learn
pillow
numpy<2.0
# OPTIMIZATION: Use headless OpenCV to avoid huge Qt dependencies
opencv-python-headless
# OPTIMIZATION: Use CPU-only Torch wheels (Works on Render)
--find-links https://download.pytorch.org/whl/cpu/torch_stable.html
torch==2.0.1+cpu
torchvision==0.15.2+cpu
supabase
python-dotenv
